{% extends "../layout.html" %}

{% block content %}
  <link rel="stylesheet" href="/public/assets/css/users/add.css">
  
  <div class="add-user-form">
    <form class="col" action="" method="POST">

      <div class="row">
        <div class="input-field col s12">
          <input id="username" name="username" type="text" class="validate user-data" maxlength="16" value="{{ usernmae }}">
          <label for="username">用户名</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate user-data" value="{{ password }}">
          <label for="password">密码</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="age" name="age" type="number" class="validate user-data" min="1" max="99" value="{{ age }}">
          <label for="age" data-error="有效范围 1-99">年龄</label>
        </div>
      </div>

      <div class="row">
        <span style="margin-left: 10px;margin-right: 100px;">
          <input name="gender" type="radio" id="man" />
          <label for="man">男</label>
        </span>
        <span>
          <input name="gender" type="radio" id="woman" />
          <label for="woman">女</label>
        </span>
      </div>

      <div class="row">
        <div class="input-field col s12">
            <select name="user_group">
                <option value="" disabled selected>职称</option>
                <option value="1">讲师</option>
                <option value="2">教授</option>
                <option value="3">副教授</option>
            </select>
        </div>
      </div>
      
      <!--<div class="row">-->
        <!--<div class="input-field col s12">-->
          <!--<textarea id="user-attr" name="user-attr" class="materialize-textarea user-data"></textarea>-->
          <!--<label for="user-attr">用户属性</label>-->
        <!--</div>-->
      <!--</div>-->


      
      <button disabled class="btn waves-effect waves-light disabled add-user-submit" type="submit" name="action">
        提交
      </button>
    </form>
  </div>
  
  <script src="/public/assets/js/users/add.js" defer></script>
{% endblock %}
